<section class="home">
    <div class="row">
        <div class="content">
            <h3 data-aos="zoom-in-left">Hello It's Me</h3>
            <h1>VIPIN M</h1>
            <h3 data-aos="zoom-in-right">And I am a <span>Web Developer</span></h3>
            <p data-aos="fade-down"
            data-aos-easing="linear"
            data-aos-duration="1500">Get instant answers, find creative inspiration, learn something new.Get instant answers, find creative inspiration, learn something new.</p>
            <a href="/assets/vipinm_compressed (2).pdf" class="btn">Download CV <i class="fas fa-download"></i></a>
        </div>
        <div class="image" data-aos="fade-up"
        data-aos-duration="3000">
            <img src="/assets/kindpng_1127595.png" alt="">
        </div>
    </div>
</section>