.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.home .row .image{
    flex: 1 1 25rem;
}
.home .row .image img{
    width: 100%;
}
.home .row .content{
    flex: 1 1 25rem;
}
.home .row .content h3{
    font-size: 3.5rem;
    line-height: 1.8;
}
.home .row .content h3 span{
    color: var(--main-color);
}
.home .row .content h1{
    font-size: 4.6rem;
}
.home .row .content p{
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 1.8;
    margin-bottom: 2rem;
}