<div class="education" id="education">
    <div class="heading"  data-aos="flip-right"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000">my <span>education</span></div>
    <div class="box-container">
        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2012</span>
            <h3>High School Education</h3>
            <h4>A.V.H.S.S PONNANI</h4>
            <p data-aos="fade-down"
            data-aos-easing="linear"
            data-aos-duration="1500">Demonstrated A Keen Ability To Pioneer And Implement Innovative Solutions During My 10th-Grade Academic Journey.</p>
        </div>
        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2014</span>
            <h3>Higher Secondary Education</h3>
            <h4>M.E.S.Higher Secondary Ponnani</h4>
            <p data-aos="fade-down"
            data-aos-easing="linear"
            data-aos-duration="1500">Spearheaded Advanced Learning Initiatives During My Higher Secondary Education, Showcasing A Commitment To Academic Excellence.</p>
        </div>
        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2016</span>
            <h3>Graduation</h3>
            <h4>M.E.S PONNANI COLLEGE</h4>
            <p data-aos="fade-down"
            data-aos-easing="linear"
            data-aos-duration="1500">Educational Pursuits Do Not Define The Strength Of One's Skills; It Is The Achievement And Mastery Of Skills That Transform An Individual Into A Successful Professional.</p>
        </div>
        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2020</span>
            <h3>Proffessional Course</h3>
            <h4>ALLIANCE COLLEGE EDAPPAL</h4>
            <p>PDWD(Proffessional Diploma In Web Developement)</p>
            <p data-aos="fade-down"
            data-aos-easing="linear"
            data-aos-duration="1500">Applied Advanced Analytical Skills To Dissect Complex Concepts, Contributing To A Deeper Understanding Of Subjects.</p>
        </div>
    </div>
</div>