<div class="contact" id="contact">
    <div class="heading" data-aos="flip-right"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="6000">
        <span>contact</span>me
    </div>
    <div class="row">
        <div class="content">
            <h3 class="title">contact info</h3>
            <div class="info">
                <h3 class="email"><i class="fas fa-envelope"></i>vipinm500@gmail.com</h3>
                <h3><i class="fas fa-phone"></i>+91 8139886630</h3>
                <h3><i class="fas fa-phone"></i>+91 8714149097</h3>
            </div>
        </div>
        <div class="content">
            <div class="info">
                <h3><i class="fas fa-map-marker-alt"></i>Kerala, india - 976577</h3>
            </div>
            <div class="share">
                <a href="https://www.facebook.com/vipinpo.m
                "><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fvipin_760"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/vipin-m-261218197?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.instagram.com/vipin_760?igsh=eHJyYXJqbHN4cmQx
                "><i class="fab fa-instagram"></i></a>
            </div>
            <div class="whatsapp" data-aos="fade-zoom-in"
            data-aos-easing="ease-in-back"
            data-aos-delay="300"
            data-aos-offset="0"><a href="https://wa.link/8375sz" class="btn"><i class="fab fa-whatsapp"></i> message whatsapp</a></div>
        </div>
        
    </div>
</div>