<section class="portfolio">
    <div class="heading"  data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000">my <span>portfolio</span></div>
    <div class="box-container">
        <div class="box" *ngFor="let item of data">
            <div class="image">
                <img data-aos="zoom-out-up" src="{{item.image}}" alt="">
            </div>
            <div class="content">
                <div class="icon">
                    <span>Responsive</span>
                    <span><i [class]="item.responsive?'fas fa-circle green-dot':'fas fa-circle red-dot' "></i>{{item.responsive}}</span>
                </div>
                <h3 data-aos="zoom-in-down">{{item.label}}</h3>
                <p data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="1500">{{item.text}}</p>
                <a href="{{item.link}}" class="btn">click here</a>
            </div>
        </div>
    </div>
</section>
