.header{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    height: 100%;
    top: 0; left: 0; 
    z-index: 1000;
    width: 35rem;
     backdrop-filter: blur(5px);
    padding-top: 2rem;
}
.header .user img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--yellow);
}
.header .user h3{
    font-size: 3.5rem;
    color: #fff;
}
.header .user p{
    font-size: 2rem;
    color: #eee;;
}
.header .navbar{
    width: 100%;
}
.header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}
.header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
}
.header .navbar ul li a:hover{
    background: var(--yellow);
}
#menu{
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

@media (max-width:991px){
    .header{
        left:-120%;
    }
    #menu{
        display: block;
    }
}
@media (max-width:678px){
    .header{
        font-size: 50%;
    }
}
@media (max-width:400px){
    .header{
        width:100vw;
    }
}