<div class="header" [style.left]="position" [style.width]="getSreenWidth<991?'100%':'35rem' ">
    <h1 style="color: aliceblue;">{{getSreenWidth}}</h1>
    <div class="user">
        <img src="assets/selective-focus-shot-handsome-man.jpg" alt="">
        <h3>VIPIN M</h3>
        <p>FULL STACK DEVELOPER</p>
    </div>
    <div class="navbar">
        <ul>
            <li><a href="#home" (click)="toggle()">home</a></li>
            <li><a href="#about" (click)="toggle()">about</a></li>
            <li><a href="#education" (click)="toggle()">education</a></li>
            <li><a href="#portfolio" (click)="toggle()">portfolio</a></li>
            <li><a href="#contact" (click)="toggle()">contact</a></li>
        </ul>
    </div>
</div>
<div id="menu" [class]="buttonType" (click)="toggle()"></div>
