<section class="about">
    <div class="heading"  data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000"><span>about me</span></div>
    <div class="row">
        <div class="info">
            <h3 data-aos="fade-down"><span>name:</span>vipin m</h3>
            <h3 data-aos="fade-down"><span>post:</span>fullstack developer</h3>
            <h3 data-aos="fade-down"><span>skills:</span>Angular, nodejs, nestjs, ngrx,expressjs, mongodb, psql,html, css ,javascript, typescript</h3>
            <h3 data-aos="fade-down"><span>git repository:</span><a href="https://github.com/vipin760" style="color: blue;">click</a></h3>
            <h3 data-aos="fade-down"><span>language:</span>malayalam, english</h3>
            <a href="/assets/vipinm_compressed (2).pdf" class="btn">Download CV<i class="fas fa-download"></i></a>
        </div>
        <div class="counter">
            <div class="box" data-aos="zoom-out-down">
                <span>20+</span>
                <h3>project completed</h3>
            </div>
            <div class="box" data-aos="zoom-out" >
                <span>1+</span>
                <h3>experiance</h3>
            </div>
            <div class="box" data-aos="zoom-out-down">
                <span>3+</span>
                <h3>professional certificates</h3>
            </div>
            <div class="box" data-aos="zoom-out" >
                <span>10+</span>
                <h3>Events participate</h3>
            </div>
        </div>
    </div>
</section>