<section class="about">
    <div class="heading"><span>about me</span></div>
    <div class="row">
        <div class="info">
            <h3><span>name:</span>vipin m</h3>
            <h3><span>post:</span>fullstack developer</h3>
            <h3><span>language:</span>malayalam, english</h3>
            <a href="/assets/vipinm_compressed (2).pdf" class="btn">Download CV<i class="fas fa-download"></i></a>
        </div>
        <div class="counter">
            <div class="box">
                <span>20+</span>
                <h3>project completed</h3>
            </div>
            <div class="box">
                <span>1+</span>
                <h3>experiance</h3>
            </div>
            <div class="box">
                <span>3+</span>
                <h3>professional certificates</h3>
            </div>
            <div class="box">
                <span>10+</span>
                <h3>Events participate</h3>
            </div>
        </div>
    </div>
</section>